* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: grey;
    overflow: auto;
    margin: 0;
    padding: 0;

}

#banner {
    height: 400px;
    background-color: aquamarine;
    
}

#colum_one {
    float: left;
    background-color: red;
    overflow: auto;
    width: 15%;
  
}

#colum_two {
    float: left;
    width: 85%;
    background-color: darkred;
    overflow: auto;

}

/*#navigation{
    float: left;
    margin: 0;
    
}
*/

#navigation ul {
    list-style-type: none;
    float: left;
    background-color: blue;
    margin: 0;
    padding: 0;
    width: 100%;

}

#navigation li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}