* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#banner {
    height: 400px;
    background-color: aquamarine;
    
}



nav {
    float: left;
    background-color: red;
    width: 15%;
    
}

main {
    float: left;
    width: 85%;
    padding-right: 20px;
    padding-left: 10px;
    background-color: darkred;
    overflow: auto;
}

#flexbox-main{
    display: flex;
}

.navBar ul {
    list-style-type: none;
    float: left;
    background-color: blue;
    margin: 0;
    padding: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.navBar ul a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#about-me img{
  float: left;
  margin-right: 15px;
}

/* For mobile phones: */
@media only screen and (max-width:700px) {
    
  
nav{
    overflow:auto;
    float: left;
    width: 0;
    /* display: none; */
}

.navBar ul{
  /* width: 0; */
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111 ;
  /* overflow-x: hidden; */
  overflow: auto;
  transition: 0.5s;
  padding-top: 20px;
  display: hidden;
    }

    .navBar ul a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        /* display: block; */
        display: flex;
        transition: 0.3s;
    }

    main{
    width: 100%;
    }

    #banner{
    width: 100%;
    }
    

  }